/* Hard reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar overlay */
.navbar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  /* background: rgba(0, 0, 0, 0.55); */
  backdrop-filter: blur(6px);

  border: none;
  outline: none;
  box-shadow: none;
}

/* Navbar base */
.navbar {
  height: 70px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: none;
  outline: none;
  box-shadow: none;
}

/* Logo */
.logo-img {
  height: 150px;
  width:150px;
}

/* Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  color: white;
}

.nav-links li:hover {
  color: orange;
}

/* Actions */
.nav-actions {
  display: flex;
  align-items: center;
}

.login-btn {
  background: orange;
  color: black;
  padding: 8px 18px;
  border-radius: 8px;
  text-decoration: none;
}

.theme-icon-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  margin-right: 15px;
}
